In [2]:
import pandas as pd

df = pd.read_csv("C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_accounts.csv")

summary = {
    'Column': df.columns,
    'Non-Null Count': df.notnull().sum().values,
    'Dtype': df.dtypes.astype(str).values
}

summary_df = pd.DataFrame(summary)

print("Data Summary (Non-Null Count and Dtype):")
display(summary_df)

Data Summary (Non-Null Count and Dtype):

         Column  Non-Null Count    Dtype
0    account_id            1516    int64
1   customer_id            1516    int64
2  account_type            1516   object
3     open_date            1516   object
4        status            1516   object
5       balance            1516  float64