In [23]:
import pandas as pd

accounts = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_accounts.csv')
customers = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/b_customers.csv')

merged = pd.merge(accounts, customers, on='customer_id')

account_type_count = merged.groupby(['region', 'account_type']).size().reset_index(name='account_type_count')
print("Account Type Count by Region")
display(account_type_count)

account_type_balance_region = merged.groupby(['region', 'account_type'])['balance'].sum().reset_index()
account_type_balance_region = account_type_balance_region.sort_values(by='balance', ascending=False)
print("Balance by Region and Account Type")
display(account_type_balance_region)

Account Type Count by Region

        region account_type  account_type_count
0         Bago       Credit                  29
1         Bago      Current                  39
2         Bago         Loan                  36
3         Bago      Savings                  32
4     Mandalay       Credit                  47
5     Mandalay      Current                  54
6     Mandalay         Loan                  44
7     Mandalay      Savings                  49
8   Mawlamyine       Credit                  36
9   Mawlamyine      Current                  30
10  Mawlamyine         Loan                  40
11  Mawlamyine      Savings                  36
12      Monywa       Credit                  32
13      Monywa      Current                  31
14      Monywa         Loan                  42
15      Monywa      Savings                  39
16   Myitkyina       Credit                  57
17   Myitkyina      Current                  40
18   Myitkyina         Loan                  35
19   Myitkyina      Savings                  42
20   Naypyidaw       Credit                  28
21   Naypyidaw      Current                  30
22   Naypyidaw         Loan                  33
23   Naypyidaw      Savings                  47
24     Pathein       Credit                  40
25     Pathein      Current                  32
26     Pathein         Loan                  40
27     Pathein      Savings                  28
28      Sittwe       Credit                  35
29      Sittwe      Current                  38
30      Sittwe         Loan                  31
31      Sittwe      Savings                  41
32    Taunggyi       Credit                  35
33    Taunggyi      Current                  37
34    Taunggyi         Loan                  47
35    Taunggyi      Savings                  41
36      Yangon       Credit                  26
37      Yangon      Current                  48
38      Yangon         Loan                  30
39      Yangon      Savings                  39

Balance by Region and Account Type

        region account_type       balance
5     Mandalay      Current  1.324131e+09
16   Myitkyina       Credit  1.315017e+09
7     Mandalay      Savings  1.290313e+09
23   Naypyidaw      Savings  1.164252e+09
24     Pathein       Credit  1.146958e+09
34    Taunggyi         Loan  1.141241e+09
35    Taunggyi      Savings  1.128918e+09
6     Mandalay         Loan  1.122265e+09
4     Mandalay       Credit  1.089474e+09
14      Monywa         Loan  1.081210e+09
31      Sittwe      Savings  1.075616e+09
10  Mawlamyine         Loan  1.055452e+09
8   Mawlamyine       Credit  1.041959e+09
26     Pathein         Loan  1.037441e+09
15      Monywa      Savings  1.033079e+09
37      Yangon      Current  1.005732e+09
17   Myitkyina      Current  9.867815e+08
33    Taunggyi      Current  9.848552e+08
11  Mawlamyine      Savings  9.441727e+08
13      Monywa      Current  9.367275e+08
32    Taunggyi       Credit  9.174947e+08
39      Yangon      Savings  9.073128e+08
18   Myitkyina         Loan  8.928574e+08
3         Bago      Savings  8.834248e+08
1         Bago      Current  8.515567e+08
19   Myitkyina      Savings  8.220873e+08
0         Bago       Credit  8.084406e+08
21   Naypyidaw      Current  7.982156e+08
22   Naypyidaw         Loan  7.749023e+08
20   Naypyidaw       Credit  7.741689e+08
38      Yangon         Loan  7.618190e+08
27     Pathein      Savings  7.613044e+08
25     Pathein      Current  7.579973e+08
2         Bago         Loan  7.542822e+08
30      Sittwe         Loan  7.492697e+08
28      Sittwe       Credit  7.464622e+08
12      Monywa       Credit  7.406400e+08
36      Yangon       Credit  7.217224e+08
29      Sittwe      Current  7.133961e+08
9   Mawlamyine      Current  6.263693e+08