In [4]:
import pandas as pd

transaction_stats_df = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/processed/Transaction/transaction_statistics_per_account.csv')
accounts_df = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_accounts.csv')

# Merge the two DataFrames on the 'account_id' column
merged_df = pd.merge(transaction_stats_df, accounts_df[['account_id', 'customer_id']], on='account_id', how='left')

merged_df.to_csv('transaction_statistics_per_account_with_customer_id.csv', index=False)

display(merged_df.head())

,account_id,average_transaction,transaction_count,total_amount,min_transaction,max_transaction,transaction_std_dev,customer_id
0,2,2.347534e+06,18,42255617.86,158208.81,4826212.82,1.376168e+06,2
1,3,2.324350e+06,20,46486999.01,451744.31,4792605.21,1.305617e+06,2
2,4,2.229190e+06,17,37896225.58,35776.69,4858879.45,1.572712e+06,2
3,5,2.078750e+06,24,49890001.46,63823.56,4637275.32,1.385440e+06,3
4,6,2.482655e+06,17,42205131.61,114574.86,4864053.63,1.308621e+06,4