In [3]:
import pandas as pd

df = pd.read_csv("C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_accounts.csv")

account_type_summary = df['account_type'].value_counts().reset_index()
account_type_summary.columns = ['account_type', 'count']

print("Account Type Summary (Count):")
display(account_type_summary)

account_type_balance = df.groupby('account_type')['balance'].sum().reset_index()
account_type_balance.columns = ['account_type', 'total_balance']
account_type_balance = account_type_balance.sort_values(by='total_balance', ascending=False)

print("Account Type Balance Analysis (Total Balance):")
display(account_type_balance)

Account Type Summary (Count):

  account_type  count
0      Savings    394
1      Current    379
2         Loan    378
3       Credit    365

Account Type Balance Analysis (Total Balance):

  account_type  total_balance
3      Savings   1.001048e+10
2         Loan   9.370740e+09
0       Credit   9.302337e+09
1      Current   8.985762e+09