In [3]:
import pandas as pd

df = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_accounts.csv')

rows = []

rows.append({
    'Column': 'Total Rows',
    'Dtype': '',
    'Value': '',
    'Count': len(df)
})

for column in df.columns:
    dtype = df[column].dtype
    unique_count = df[column].nunique(dropna=False)

    rows.append({
        'Column': f'Unique Values in {column}',
        'Dtype': str(dtype),
        'Value': '',
        'Count': unique_count
    })

# Customer account analysis
customer_counts = df['customer_id'].value_counts()

# Customers with more than one account
multiple_accounts = (customer_counts > 1).sum()

# Max accounts by one customer
max_accounts = customer_counts.max()

# Account distribution (how many customers have X accounts)
account_distribution = customer_counts.value_counts().sort_index()

# Append customer-related analysis
rows.append({
    'Column': 'Customers with >1 Account',
    'Dtype': 'int64',
    'Value': '',
    'Count': multiple_accounts
})

rows.append({
    'Column': 'Max Accounts by One Customer',
    'Dtype': 'int64',
    'Value': '',
    'Count': max_accounts
})

# Add distribution of customers by number of accounts
for num_accounts, num_customers in account_distribution.items():
    rows.append({
        'Column': 'Customers with X Accounts',
        'Dtype': 'int64',
        'Value': f'{num_accounts} accounts',
        'Count': num_customers
    })

result_df = pd.DataFrame(rows)

display(result_df)

                           Column    Dtype       Value  Count
0                      Total Rows                        1516
1     Unique Values in account_id    int64               1516
2    Unique Values in customer_id    int64               1000
3   Unique Values in account_type   object                  4
4      Unique Values in open_date   object               1074
5         Unique Values in status   object                  3
6        Unique Values in balance  float64               1516
7       Customers with >1 Account    int64                401
8    Max Accounts by One Customer    int64                  5
9       Customers with X Accounts    int64  1 accounts    599
10      Customers with X Accounts    int64  2 accounts    309
11      Customers with X Accounts    int64  3 accounts     73
12      Customers with X Accounts    int64  4 accounts     15
13      Customers with X Accounts    int64  5 accounts      4