In [22]:
import pandas as pd

accounts = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_accounts.csv')
customers = pd.read_csv('C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/b_customers.csv')

merged = pd.merge(accounts, customers, on='customer_id')

status_count = merged.groupby(['region', 'status']).size().reset_index(name='status_count')
print("Status Count by Region")
display(status_count)

status_balance_region = merged.groupby(['region', 'status'])['balance'].sum().reset_index()
status_balance_region = status_balance_region.sort_values(by='balance', ascending=False)
print("Balance by Region and Status")
display(status_balance_region)

region_balance = merged.groupby('region')['balance'].sum().reset_index()
region_balance = region_balance.sort_values(by='balance', ascending=False)
print("Total Balance by Region")
display(region_balance)

Status Count by Region

        region  status  status_count
0         Bago  Active           116
1         Bago  Closed            15
2         Bago  Frozen             5
3     Mandalay  Active           155
4     Mandalay  Closed            22
5     Mandalay  Frozen            17
6   Mawlamyine  Active           116
7   Mawlamyine  Closed            16
8   Mawlamyine  Frozen            10
9       Monywa  Active           125
10      Monywa  Closed            13
11      Monywa  Frozen             6
12   Myitkyina  Active           144
13   Myitkyina  Closed            19
14   Myitkyina  Frozen            11
15   Naypyidaw  Active           118
16   Naypyidaw  Closed            11
17   Naypyidaw  Frozen             9
18     Pathein  Active           117
19     Pathein  Closed            14
20     Pathein  Frozen             9
21      Sittwe  Active           124
22      Sittwe  Closed            18
23      Sittwe  Frozen             3
24    Taunggyi  Active           140
25    Taunggyi  Closed            13
26    Taunggyi  Frozen             7
27      Yangon  Active           125
28      Yangon  Closed            14
29      Yangon  Frozen             4

Balance by Region and Status

        region  status       balance
3     Mandalay  Active  3.867822e+09
24    Taunggyi  Active  3.688093e+09
9       Monywa  Active  3.287123e+09
12   Myitkyina  Active  3.190910e+09
18     Pathein  Active  3.162969e+09
15   Naypyidaw  Active  3.076529e+09
6   Mawlamyine  Active  2.951755e+09
27      Yangon  Active  2.923655e+09
21      Sittwe  Active  2.795486e+09
0         Bago  Active  2.792044e+09
4     Mandalay  Closed  5.206850e+08
13   Myitkyina  Closed  5.045137e+08
22      Sittwe  Closed  4.399889e+08
5     Mandalay  Frozen  4.376750e+08
1         Bago  Closed  4.028946e+08
7   Mawlamyine  Closed  3.967447e+08
28      Yangon  Closed  3.950630e+08
10      Monywa  Closed  3.404903e+08
14   Myitkyina  Frozen  3.213196e+08
8   Mawlamyine  Frozen  3.194529e+08
20     Pathein  Frozen  2.835818e+08
25    Taunggyi  Closed  2.721510e+08
19     Pathein  Closed  2.571500e+08
16   Naypyidaw  Closed  2.414163e+08
26    Taunggyi  Frozen  2.122649e+08
17   Naypyidaw  Frozen  1.935932e+08
11      Monywa  Frozen  1.640428e+08
2         Bago  Frozen  1.027659e+08
29      Yangon  Frozen  7.786768e+07
23      Sittwe  Frozen  4.926914e+07

Total Balance by Region

       region       balance
1    Mandalay  4.826182e+09
8    Taunggyi  4.172509e+09
4   Myitkyina  4.016744e+09
3      Monywa  3.791656e+09
6     Pathein  3.703700e+09
2  Mawlamyine  3.667953e+09
5   Naypyidaw  3.511539e+09
9      Yangon  3.396586e+09
0        Bago  3.297704e+09
7      Sittwe  3.284744e+09